body{
	margin:0px;
	padding:0px;
	background-color:#047BD5;
}
.container{
	margin:0px;
	padding:0px;
	height:75%
}

.header{
	width:90%;
	margin:0px auto;
	display:block;
	height:20%;
}

.logo{
	margin-left:10px;
	margin-top:10px;
	display:inline-block;
	
}
.logo p{
	float:left;
	size:20px;
	margin-top:20px;

	
}

.logo p:nth-child(1){
	font-family:cursive;
	font-size:40px;
	color:white;
	
}

.logo p:nth-child(2){
	font-family:tahoma;
	font-size:20px;
	color:yellow;
	
}
.btn{
	display:inline-block;
	float:right;
	margin-top:55px;
	margin-right:70%

}


.btn a{
	font-size:20px;
	background-color:rgb(49, 173, 82);
	text-decoration:none;
	color:white;
	padding:10px;
	
}

.btn a:hover{
	background-color:green;
}

.form {
	width:96%;
	position:absolute;
	height:75%;
	background-color:rgb(245, 241, 240);
	display:block;
	left:2%;
	padding-bottom:15px;
}

.form .login{
 height:400px;
  width:390px;
  padding-left:100px;
  border: 0px solid grey;
  background-color:white;
  display:block;
  margin-left:30%;
  margin-top:50px;
	
}

.form .login td {
	text-align:center;
	padding-bottom:10px;
}

.form .login input{
	padding:5px;
	font-size:15px;
}

.form .login a{
	font-size:15px;
	text-decoration:none;
	padding:10px;
	text-align:center;
	margin-left:30px;
	width:60px;
	color:#047BD5;
}

.form .login input[type="submit"]{
	color:white;
	width:260px;
	padding:10px;
	background-color:#047BD5;
	border:none;
	font-size:15px;
	
}

.form .login input[value="Create new account"]{
	color:white;
	width:260px;
	padding:10px;
	background-color:rgb(49, 173, 82);
	border:none;
	font-size:15px;
	
}

.form .login input[value="Create new account"]:hover{
	background-color:green;
}

